[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/google/snappy
[submodule "third_party/portaudio"]
	path = third_party/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/fpng"]
	path = third_party/fpng
	url = https://github.com/richgel999/fpng
